body, h1, h2, p, ul, li, form, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-img img {
    height: 50px;
}

.sub{
    text-decoration: none;
    color: #111111;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main {
    margin-top: 20px;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #495057;
}

input,select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}

button {
    grid-column: span 2; 
    background-color: #007bff;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
